body {
  font-family: system-ui, sans-serif;
}

header {
  border: solid 2px red;
  display: flex;
  align-items: center;
  padding-left: 150px;
  border-bottom: 1px solid grey;
}
h1 {
  font-size: 16px;
  color: #00ccbc;
  font-weight: bold;
}
.main-pic {
  height: 200px;
  width: 350px;
}
.presentation {
  display: flex;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: #2e3333;
}
p {
  font-size: 19px;
  color: #868a8a;
}
